/*VARIABLES*/ /*GENERALES*/
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
body {
  font-family: Aboreto;
  /*overflow-x: hidden;*/
  background: linear-gradient(to right, rgb(233, 231, 231), white, rgb(185, 183, 183));
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='3000' preserveAspectRatio='none' viewBox='0 0 1440 3000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1092%26quot%3b)' fill='none'%3e%3cpath d='M584.2902829707277 278.1263570990384L1035.762809700284 286.4372406893185 850.4507141152147-62.08412182631048z' fill='rgba(231%2c 222%2c 230%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M14.5 3.04 a268.34 268.34 0 1 0 536.68 0 a268.34 268.34 0 1 0 -536.68 0z' fill='rgba(231%2c 222%2c 230%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1579.766%2c1322.018C1725.708%2c1324.2%2c1862.169%2c1244.568%2c1933.167%2c1117.042C2002.365%2c992.75%2c1992.187%2c838.975%2c1915.341%2c719.261C1844.183%2c608.406%2c1711.49%2c565.42%2c1579.766%2c566.493C1450.243%2c567.548%2c1321.874%2c614.624%2c1253.532%2c724.654C1181.486%2c840.647%2c1178.757%2c986.902%2c1244.205%2c1106.742C1312.474%2c1231.749%2c1437.348%2c1319.889%2c1579.766%2c1322.018' fill='rgba(231%2c 222%2c 230%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M140.71582686756577 590.8554498292275L413.5051515064976 542.7553318461433 204.9603122124055 157.62140387928775z' fill='rgba(231%2c 222%2c 230%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1357.915%2c2291.589C1440.863%2c2290.163%2c1504.138%2c2226.971%2c1545.921%2c2155.301C1588.088%2c2082.972%2c1610.091%2c1997.628%2c1573.07%2c1922.535C1531.763%2c1838.749%2c1451.297%2c1771.475%2c1357.915%2c1773.954C1267.6%2c1776.352%2c1202.999%2c1853.113%2c1161.679%2c1933.458C1124.338%2c2006.065%2c1119.133%2c2090.362%2c1158.367%2c2161.964C1199.219%2c2236.518%2c1272.915%2c2293.05%2c1357.915%2c2291.589' fill='rgba(231%2c 222%2c 230%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M28.511%2c771.174C98.597%2c768.07%2c171.11%2c749.768%2c207.111%2c689.555C243.915%2c627.999%2c233.965%2c550.626%2c197.187%2c489.055C161.401%2c429.144%2c98.206%2c394.089%2c28.511%2c390.555C-48.697%2c386.641%2c-130.11%2c405.749%2c-172.641%2c470.305C-219.124%2c540.859%2c-226.726%2c636.452%2c-179.767%2c706.69C-136.473%2c771.446%2c-49.308%2c774.621%2c28.511%2c771.174' fill='rgba(231%2c 222%2c 230%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M661.39%2c710.623C714.984%2c710.299%2c753.216%2c664.556%2c779.102%2c617.627C803.902%2c572.666%2c816.63%2c519.322%2c791.662%2c474.454C766.104%2c428.527%2c713.883%2c408.737%2c661.39%2c406.101C602.791%2c403.159%2c535.142%2c409.03%2c506.302%2c460.126C477.726%2c510.754%2c510.58%2c569.639%2c541.183%2c619.068C569.6%2c664.967%2c607.407%2c710.95%2c661.39%2c710.623' fill='rgba(231%2c 222%2c 230%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-53.37 1856.65 a427.16 427.16 0 1 0 854.32 0 a427.16 427.16 0 1 0 -854.32 0z' fill='rgba(231%2c 222%2c 230%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1092'%3e%3crect width='1440' height='3000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

/*FUENTES*/ /*HEADER*/
header {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  width: 100%;
}

h1 {
  text-align: center;
}
h1::first-letter {
  color: red;
}

h2::first-letter {
  color: black;
}

.headerdos {
  text-align: center;
}

.space {
  margin: auto;
}

.nav-link:hover {
  font-weight: bold;
}
.nav-link:hover svg {
  transform: scale(1.1);
}

.headeruno {
  text-align: center;
  margin: auto;
}

.headertres {
  margin: auto;
  text-align: center;
}

.redes {
  width: 15%;
  padding: 10px;
}

.logo {
  width: 33%;
}

.headerpaginas {
  display: flex;
  flex-direction: column;
}

.logopaginas {
  width: 22%;
  display: flex;
  margin: auto;
}

.headertienda {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 10px 40px 10px;
}

/* IMAGENES*/
#imgmain {
  width: 100%;
}

#imgmaindos {
  width: 50vw;
  margin-top: 30px;
}

#mapa {
  width: 100%;
  border-radius: 90px;
  padding: 30px;
}

.contenedor {
  display: flex;
  max-width: 100vw;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  overflow: hidden;
}

.imggaleria {
  width: 450px;
  height: 550px;
  object-fit: cover;
  padding: 6px;
  transition: all 2s;
}
.imggaleria:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 2s;
  opacity: 1;
  filter: contrast(120%);
  z-index: 1;
}

.fotoellas {
  width: 50vw;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 50px;
  transition: all 2s;
}
.fotoellas:hover {
  transform: scale(1.2);
  transition: all 2s;
}

figure img {
  max-width: 100%;
}

/* MAIN */
.serviciosmanicuria {
  margin-top: 100%;
  text-decoration: none;
  color: black;
}
.serviciosmanicuria:hover {
  transform: translate(-5px);
  transition: all 1s;
}

.servicioslashista {
  text-decoration: none;
  margin-top: 180%;
  margin-left: 100px;
  color: black;
}
.servicioslashista:hover {
  transform: translate(-5px);
  transition: all 1s;
}

.contactomain {
  margin: auto;
  margin-right: 18px;
  text-align: center;
  font-size: large;
}

.clientesdicen {
  transform: rotate(-25deg);
  font-size: x-large;
  margin-left: 50px;
}

.formulario {
  margin: auto;
}

.formcontainer {
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin: 15px;
}
.formcontainer h2 {
  text-align: center;
}
.formcontainer .input {
  margin: auto;
  width: 65%;
  text-align: center;
  background: none;
}

.nom {
  text-align: center;
  margin: 2px;
  margin-top: 25px;
}

.em {
  text-align: center;
  margin-top: 15px;
  border: none;
}

.co {
  margin: 20px;
  text-align: center;
  border: none;
  border-bottom: 0.5px;
  height: 50px;
  background: none;
}

.boton {
  margin: auto;
  width: 75px;
}

.input {
  border: none;
  border-bottom: black solid 1px;
}

.mainprimero {
  display: grid;
  grid-template-columns: 28% 10% 10% 52%;
}

.mainsegundo {
  display: grid;
  grid-template-columns: 25% 75%;
  margin-left: 15px;
  margin-bottom: 25px;
}
.mainsegundo p {
  margin-right: 50px;
}

.maintercero {
  display: grid;
  grid-template-columns: 50% 50%;
}

.mainhistoria {
  display: grid;
  text-align: center;
}

.conteiner {
  max-width: 100%;
}
.conteiner img {
  width: 100%;
  border-radius: 25px;
  transition: all 2s;
}
.conteiner img:hover {
  transform: scale(1.3);
  transition: all 3s;
}

.mainserv {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  max-width: 100%;
  gap: 25px;
  margin: 50px;
}

.txtdecos {
  text-align: center;
  transition: all 1s;
}
.txtdecos:hover {
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

/*SERVICIOS*/
.iconcart {
  width: 40px;
}

.containeritems {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px;
  margin-bottom: 50px;
}

.item {
  border-radius: 10px;
}
.item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.item:hover img {
  transform: scale(1.2);
}
.item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 50px;
  background-color: rgb(197, 190, 191);
  transition: all 1s;
}
.item figure {
  overflow: hidden;
}

.infoproduct {
  padding: 15px 30px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.infoproduct h2 {
  font-size: large;
}
.infoproduct button {
  border: none;
  background: none;
  background-color: rgb(107, 99, 99);
  color: antiquewhite;
  padding: 15px 10px;
  cursor: pointer;
}
.infoproduct button:hover {
  transform: scale(1.2);
  transition: all 1s;
}

.precio {
  font-size: 18px;
  font-weight: 900;
}

.textohistoria {
  padding: 55px;
  line-height: 25px;
}

/*FOOTER*/
.footeruno {
  margin: auto;
}

.footerdos {
  text-align: center;
}

.footertres {
  margin: auto;
}

footer {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  width: 100%;
}

.footergaleria {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  text-align: center;
}

.navpaginas {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.navpaginas a:link {
  color: black;
}
.navpaginas a:visited {
  color: black;
}
.navpaginas a {
  text-decoration: none;
}
.navpaginas a:hover {
  text-decoration: underline;
}

/************************************************************************Media q Tablet************************/
@media (max-width: 1024px) and (min-width: 667px) {
  header {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  header .space {
    text-align: center;
    gap: none;
  }
  .headertres {
    display: none;
  }
  .mainprimero {
    display: flex;
    flex-direction: column;
  }
  .servicioslashista {
    margin: auto;
    margin-top: 100px;
    font-size: xx-large;
  }
  .serviciosmanicuria {
    margin: auto;
    font-size: xx-large;
  }
  #imgmain {
    width: 50%;
  }
  #imgmaindos {
    margin: auto;
    width: 90%;
  }
  .mainsegundo {
    display: none;
  }
  .maintercero {
    display: flex;
    flex-direction: column;
  }
  #mapa {
    margin: auto;
  }
  .contactomain {
    padding: 20px;
    margin: auto;
  }
  .formulario {
    margin-top: 25px;
    margin-bottom: 20px;
  }
  footer {
    grid-template-columns: 1fr;
  }
  .footeruno {
    text-align: center;
    margin-top: 20px;
  }
  .redes {
    width: 7%;
  }
  .footertres {
    text-align: center;
  }
  .logogaleria {
    margin: auto;
  }
  .mainserv {
    grid-template-columns: 1fr 1fr;
  }
  .containeritems {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 50px;
  }
}
/************************fin media q tablet **************************************/
/************************************************************MEDIA Q Cel*************************************************/
@media (max-width: 666px) {
  header {
    display: flex;
    flex-direction: column;
  }
  header .space {
    text-align: center;
    gap: none;
  }
  .redes {
    width: 9%;
  }
  .headertres {
    display: none;
  }
  .mainprimero {
    display: flex;
    flex-direction: column;
  }
  .servicioslashista {
    margin: auto;
    margin-top: 20px;
  }
  .serviciosmanicuria {
    margin: auto;
    margin-bottom: 50px;
  }
  #imgmain {
    width: 70%;
    margin-left: 10px;
  }
  #imgmaindos {
    width: 80%;
    margin: auto;
    margin-top: 25px;
  }
  .mainsegundo {
    display: none;
  }
  .maintercero {
    display: flex;
    flex-direction: column;
  }
  #mapa {
    width: auto;
    margin: auto;
  }
  .contactomain {
    padding: 20px;
    margin: auto;
  }
  .formulario {
    margin-top: 25px;
    margin-bottom: 20px;
  }
  footer {
    grid-template-columns: 1fr;
  }
  .footeruno {
    text-align: center;
    margin-top: 20px;
  }
  .footertres {
    text-align: center;
  }
  .logogaleria {
    margin: auto;
  }
  .mainserv {
    margin: 0;
    grid-template-columns: 1fr;
    margin: 25px;
  }
  .containeritems {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-bottom: 50px;
  }
}
/*********************fin media queries celular**********************************/

/*# sourceMappingURL=estilo.css.map */
