/*FOOTER*/

.footeruno {
    margin: auto;
}

.footerdos {
    text-align: center;
}

.footertres {
    margin: auto;
}

footer {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    width: 100%;
}

.footergaleria {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    text-align: center;
    p{
        margin-top: 15px;
    }
}

.navpaginas {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    @include estilolinks;
}