/*HEADER*/

header {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    width: 100%;
    
}

h1 {
    &::first-letter {
        color: $color_2;
    }

    text-align: center;
}

h2 {
    &::first-letter {
        color: $color_2;
    }
    text-align: center;
}

.headerdos {
    text-align: center;
}

.space {
    margin: auto;
}

.nav-link:hover {
    font-weight: bold;

    svg {
        transform: scale(1.1);
    }
}


.headeruno {
    text-align: center;
    margin: auto;
}

.headertres {
    margin: auto;
    text-align: center;
}


.redes {
    width: 15%;
    padding: 10px;
}

.logo {
    width: 33%;
}

.headerpaginas {
    display: flex;
    flex-direction: column;
}

.logopaginas {
    width: 22%;
    display: flex;
    margin: auto;
}

.headertienda {
    display: flex;
    justify-content: space-evenly;
    padding: 30px 10px 40px 10px;
}