/*VARIABLES*/

$color_1: black;
$font-family_1: Aboreto;
$color_2: red;
$background-color_1: rgb(167, 240, 200);
$color_3: white;
$background-color_2: rgba(0, 0, 0, 0.7);
$color_4: antiquewhite;
$background-color_3: rgb(197, 190, 191);
$background-color_4: rgb(107, 99, 99);
